<footer class="footer-area bg-dark-gery pt-100 ">
    <div class="container" style="border-bottom: 1px solid #fff;">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                    <div class="footer-title">
                        <h3 style="text-transform: uppercase;">Skydecor Bandhu</h3>
                    </div>
                    <div class="subscribe-style">

                        <img src="https://skydecor.in/public/site/playstore.png" style="max-width: 180px; "
                            class="mb-4">

                        <p>Skydecor Laminates Pvt. Ltd. <br> F 26 sector 8 Noida,Uttar Pradesh,India,201301</p>

                        <p><i class="fa-solid fa-phone"></i> +91 8800777731</p>
                        <p><i class="fa-solid fa-envelope"></i> info@skydecor.in</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">
                    <div class="footer-title">
                        <h3>APPLICATIONS</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Bedroom</a></li>
                            <li><a href="#">Kids Room</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Living Room</a></li>
                            <li><a href="#"> Kitchen </a></li>
                            <li><a href="#"> Wardrobs</a></li>
                            <li><a href="#"> TV Unit </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    <div class="footer-title">
                        <h3>OUR COMPANY</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#"> Home </a></li>
                            <li><a href="#"> About </a></li>
                            <li><a href="#">Contact </a></li>
                            <li><a href="#"> Blogs</a></li>
                            <li><a href="#">Privacy and Policy </a></li>
                            <li><a href="#">News Letter </a></li>
                            <li><a href="#"> Certificates</a></li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                    <div class="footer-title">
                        <h3>CATEGORIES</h3>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="/api/product/PVC">PVC Laminates </a></li>
                            <li><a href="/api/product/Acrylic"> Acrylic Laminates</a></li>
                            <li><a href="/api/product/0.8mm"> 0.8mm Laminates </a></li>
                            <li><a href="/api/product/liner">Liner Laminates </a></li>
                            <li><a href="/api/product/1mm"> 1 mm+ Laminates </a></li>
                            <li><a href="/api/product/SOFFITTO">Soffitto Panels </a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
     <p style="text-align: center; color: #fff;" class="mt-4 mb-4">Copyright © RANTECHNOLOGY All rights reserved</p>
</footer>