<header class="header-area header-in-container clearfix">
    <div class="header-top-area" style="background-color: #313131;">
        <div class="container">
            <div class="header-top-wap">

                <div class="social-icons">
                    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-youtube"></i></a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-x-twitter"></i></a>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-facebook"></i></a>
                    <a href="https://wa.me/22218002628" target="_blank" rel="noopener noreferrer"><i
                            class="fab fa-whatsapp"></i></a>
                </div>

                <div class="header-offer">
                    <p class="text-white"><i class="fa-solid fa-phone"></i>&nbsp; Customer Care No. : <span
                            class="text-white">+91 8800777731</span></p>

                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar header-res-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="/">
                            <img alt="" src="/images/logo/logo.png" style="max-width: 220px;">
                        </a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-19 d-none d-lg-block">
                    <div class="main-menu">
                        <nav>
                            <ul>

                                <li><a href="/"> Home </a></li>

                                <li><a href="/about"> About </a></li>

                                <li class="dropdown"><a href="index.html" class="dropdown-toggle"> Product
                                        <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <div class="container-fluid py-4 px-3">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <h5 class=" text-uppercase"><a
                                                            href="/api/product/Acrylish">Acrylish Laminates </a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="" class="dropdown-item">Abstract </a> </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Solid </a></li>
                                                        <li><a href="aluminium-tapes.html" class="dropdown-item">Solid
                                                            </a></li>
                                                        <li><a href="copper.html" class="dropdown-item">Woodgrain </a>
                                                        </li>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h5 class="text-uppercase"><a href="/api/product/PVC">PVC
                                                            Laminates</a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="acrylic.html" class="dropdown-item">Abstract</a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Leather </a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Metallics High Gloss</a></li>
                                                        <li><a href="aluminium-tapes.html"
                                                                class="dropdown-item">Solids</a></li>
                                                        <li><a href="acrylic.html" class="dropdown-item">High Gloss</a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Stone </a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Woods</a></li>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h5 class="text-uppercase"><a href="/api/product/1mm">1 MM +
                                                            Laminates</a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="acrylic.html" class="dropdown-item">Abstracts </a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Solid</a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Stone</a></li>
                                                        <li><a href="acrylic.html" class="dropdown-item">Woodgrain </a>
                                                        </li>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h5 class="text-uppercase"><a href="/api/product/0.8mm">0.8 MM
                                                            Laminates</a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="acrylic.html" class="dropdown-item">Abstracts </a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Solid</a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Stone</a></li>
                                                        <li><a href="acrylic.html" class="dropdown-item">Woodgrain </a>
                                                        </li>

                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h5 class="text-uppercase"><a href="">Liner</a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="acrylic.html" class="dropdown-item">Abstracts </a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Solid</a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Stone</a></li>
                                                        <li><a href="acrylic.html" class="dropdown-item">Woodgrain </a>
                                                        </li>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <h5 class=" text-uppercase"><a
                                                            href="/api/product/SOFFITTO">Soffito Panels</a></h5>
                                                    <div class="d-flex flex-column">
                                                        <li><a href="acrylic.html" class="dropdown-item">Groovex</a>
                                                        </li>
                                                        <li><a href="aluminium.html" class="dropdown-item">Verto</a>
                                                        </li>
                                                        <li><a href="aluminium-composite-panel.html"
                                                                class="dropdown-item">Soffline</a></li>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </ul>


                                </li>

                                <li><a href="/events">Exhibition & Media</a></li>

                                <li><a href="/career"> Career </a></li>

                                <li><a href="/blogs"> Blog </a></li>

                                <li><a href="#"> Experience Center </a> </li>

                                <li><a href="/contact-us"> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">

                             <li><a href="contact.html">Home</a></li>

                            <li><a href="shop.html">Products</a>
                                <ul>
                                    <li><a href="#">shop layout</a>
                                        <ul>
                                            <li><a href="shop.html">standard style</a></li>
                                            <li><a href="shop-filter.html">Grid filter style</a></li>
                                            <li><a href="shop-grid-2-col.html">Grid 2 column</a></li>
                                            <li><a href="shop-no-sidebar.html">Grid No sidebar</a></li>
                                            <li><a href="shop-grid-fw.html">Grid full wide </a></li>
                                            <li><a href="shop-right-sidebar.html">Grid right sidebar</a></li>
                                            <li><a href="shop-list.html">list 1 column box </a></li>
                                            <li><a href="shop-list-fw.html">list 1 column full wide </a></li>
                                            <li><a href="shop-list-fw-2col.html">list 2 column full wide</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">product details</a>
                                        <ul>
                                            <li><a href="product-details.html">tab style 1</a></li>
                                            <li><a href="product-details-2.html">tab style 2</a></li>
                                            <li><a href="product-details-3.html">tab style 3</a></li>
                                            <li><a href="product-details-4.html">sticky style</a></li>
                                            <li><a href="product-details-5.html">gallery style </a></li>
                                            <li><a href="product-details-slider-box.html">Slider style</a></li>
                                            <li><a href="product-details-affiliate.html">affiliate style</a></li>
                                            <li><a href="product-details-6.html">fixed image style </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="shop.html">Collection</a></li>
                            <li><a href="about.html">Blog us</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>




<style>
    .header-top-wap {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 10px;
        flex-wrap: wrap;
    }

    .dropdown-toggle::after {
        display: none;
    }


    .social-icons {
        display: flex;
        gap: 15px;
    }

    .social-icons a i {
        color: #fff;
        font-size: 14px;
        transition: color 0.3s;
    }

    .social-icons a:hover i {
        color: #f39c12;
        /* hover effect */
    }

    .header-offer p {
        color: #fff;
        font-size: 12px;
        margin: 0;
    }

    .header-offer i {
        font-size: 14px;
        color: #fff;
    }
</style>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    .dropdown-menu {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 130px;
        border-radius: 0;
        border: 0;
        background-color: #fff;
    }

    .stick .dropdown-menu {
        top: 80px;
    }

    /* Hide dropdown by default */
    .dropdown-menu {
        display: block;
        /* allow transition */
        max-height: 0;
        /* start closed */
        overflow: hidden;
        opacity: 0;
        transition: all 0.8s ease-in-out;
        visibility: hidden;
    }

    /* On hover of parent .dropdown */
    .dropdown:hover .dropdown-menu {
        max-height: 1000px;
        /* big enough to fit menu */
        opacity: 1;
        visibility: visible;
    }

    .dropdown-menu h5 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        padding-left: 1rem;
    }

    .dropdown-menu h5 a {
        line-height: 28px !important;
    }

    .dropdown-menu li {

        position: relative;
        max-width: 16%;
        padding-left: 0px !important;
    }

    .dropdown-item {
        font-family: 'Montserrat', sans-serif;
        color: #333 !important;
        display: block !important;
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 26px !important;
        padding-top: 0 !important;
        text-align: left !important;
        text-transform: capitalize !important;
        text-transform: uppercase;
    }

    .dropdown-item:hover {
        background-color: transparent;
        color: rgb(123, 78, 163) !important;
        padding-left: 24px;
        transition: all 0.3s ease-in-out;
    }

    a.dropdown-item:before {
        background: #a749ff none repeat scroll 0 0;
        border-radius: 50%;
        content: "";
        height: 7px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 13px;
        transition: all .3s ease-in-out 0s;
        width: 7px;
        z-index: 999;
    }

    a.dropdown-item:hover:before {
        opacity: 1;
        left: 10px;
    }
</style>