

  <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h2 class="modal-title d-none mb-0" id="modalProduct">
              Product Name Here
            </h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <!-- Body -->
          <div class="modal-body">
            <div class="row">
              <!-- Left: Image -->
              <div class="col-md-5 col-sm-12">
                <div class="tab-content quickview-big-img">
                  <div class="tab-pane fade show active">
                    <img
                      id="modalProductImage"
                      src="/img/product/quickview-l1.jpg"
                      alt="Product Image"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>

              <!-- Right: Product Details -->
              <div class="col-md-7 col-sm-12">
                <div class="product-details-content quickview-content">
                  <h2 class="mb-4" id="modalProductTitle"></h2>

                  <!-- Rating Example -->
                  <div class="pro-details-rating-wrap mt-2 mb-3">
                    <div class="pro-details-rating">
                      <i class="fa fa-star-o yellow"></i>
                      <i class="fa fa-star-o yellow"></i>
                      <i class="fa fa-star-o yellow"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <span>3 Reviews</span>
                  </div>

                  <!-- Category -->
                  <div class="pro-details-meta">
                    <span>Category :</span>
                    <ul>
                      <li><span id="modalCategory">-</span></li>
                    </ul>
                  </div>

                  <!-- Sub Category -->
                  <div class="pro-details-meta">
                    <span>Sub Category :</span>
                    <ul>
                      <li><span id="modalSubCategory">-</span></li>
                    </ul>
                  </div>

                  <!-- Texture -->
                  <div class="pro-details-meta">
                    <span>Texture :</span>
                    <ul>
                      <li><span id="modalTexture">-</span></li>
                    </ul>
                  </div>

                  <!-- Size -->
                  <div class="pro-details-meta">
                    <span>Size :</span>
                    <ul>
                      <li><span id="modalSize">-</span></li>
                    </ul>
                  </div>

                  <!-- Thickness -->
                  <div class="pro-details-meta">
                    <span>Thickness :</span>
                    <ul>
                      <li><span id="modalThickness">-</span></li>
                    </ul>
                  </div>

                  <!-- Width -->
                  <div class="pro-details-meta">
                    <span>Width :</span>
                    <ul>
                      <li><span id="modalWidth">-</span></li>
                    </ul>
                  </div>

                  <!-- Social Icons -->
                  <div class="pro-details-social mt-3">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>

                  <!-- Add to Cart -->
                  <div class="pro-details-quality mt-4">
                    <div class="pro-details-cart btn-hover">
                      <a href="#"> Download </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end -->