<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>RAN Technology - Digital Marketing Agency</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <%- include("partials/header") %>



        <div class="slider-area">
            <div class="slider-active owl-carousel nav-style-1 owl-dot-none">
                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-3.jpg);">
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-4.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-2.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-1.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-5.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-slider-2 slider-height-1 d-flex align-items-center slider-height-res bg-img hm-13-slider"
                    style="background-image:url(/images/banner/b-6.jpg);">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        

        <section class="about pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-4 animate-box" data-animate-effect="fadeInUp">
                        <div class="skydecor-section-title" style="margin-bottom: 24px;">
                            The TOTAL LIVING CONCEPT
                        </div>
                        <p class="about-skydecor-p">
                            Skydecor embarked on its journey in 2016 with a vision to push
                            beyond limits and redefine excellence. With a vast infrastructure
                            spanning over 5 million sheets annual production and
                            state-of-the-art machinery, we are committed to continuous growth
                            and innovation. Our manufacturing facilities in Greater Noida and
                            Hapur specialize in producing PVC Laminates, Acrylic Laminates,
                            Decorative Laminates and Soffitto Panels.
                            <br /><br />
                            Our operational headquarters is located in Noida, while our
                            Experience Centres in Kirti Nagar & Noida offers a firsthand
                            showcase of our premium products
                        </p>
                    </div>

                    <div class="col-md-5 offset-md-1 animate-box" data-animate-effect="fadeInUp">
                        <img src="/images/home/home-about.jpg" alt="Skydecor Logo" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>





        <section class="about bg-dark-gery" style="padding-bottom: 70px; padding-top: 70px;">
            <div class="container">
                <div class="row">

                    <!-- Left Image -->
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInUp">
                        <img src="/images/visual/visual.jpeg" alt="Skydecor Logo" class="img-fluid">
                    </div>

                    <!-- Right Content -->
                    <div class="col-md-6 mt-4 animate-box d-flex justify-content-center align-items-start"
                        style="flex-direction: column;" data-animate-effect="fadeInUp">

                        <div class="skydecor-section-title text-white" style="margin-bottom: 24px;">
                            DISCOVER VISUALIZER
                        </div>

                        <p class="about-skydecor-p mb-4 text-white text-start">
                            The art of design lies in bringing your vision to life. Experiment
                            with SkyDecor’s range of stunning laminate and décor finishes, and
                            choose the one that truly reflects your style. Our Visualizer is
                            here to help you explore endless possibilities and make your
                            perfect choice with confidence.
                            Our Visualizer is here to help you explore endless possibilities with confidence.
                        </p>

                        <a href="/" class="btn btn-outline-light fw-light"
                            style="padding: 10px 30px; margin-left: 25px;">
                            Know More
                        </a>

                    </div>
                </div>
            </div>
        </section>




        <%- include("partials/footer") %>




            <!-- All JS is here  ============================================ -->

            <script src="/js/vendor/modernizr-3.11.7.min.js"></script>
            <script src="/js/vendor/jquery-v3.6.0.min.js"></script>
            <script src="/js/vendor/jquery-migrate-v3.3.2.min.js"></script>
            <script src="/js/vendor/popper.min.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/plugins.js"></script>
            <script src="/js/ajax-mail.js"></script>
            <script src="/js/main.js"></script>



            <script>

                document.addEventListener("DOMContentLoaded", function () {
                    const exampleModal = document.getElementById("exampleModal");
                    exampleModal.addEventListener("show.bs.modal", function (event) {
                        const button = event.relatedTarget;

                        // Extract product info from data-* attributes
                        const name = button.getAttribute("data-name");
                        const image = button.getAttribute("data-image");
                        const category = button.getAttribute("data-category");
                        const subCategory = button.getAttribute("data-subcategory");
                        const texture = button.getAttribute("data-texture");
                        const size = button.getAttribute("data-size");
                        const thickness = button.getAttribute("data-thickness");
                        const width = button.getAttribute("data-width");

                        // Update modal content
                        document.getElementById(
                            "modalProductTitle"
                        ).innerHTML = `<h2>${name} ${category} ${texture} </h2>`;
                        document.getElementById("modalProductImage").src = image;
                        document.getElementById("modalCategory").textContent = category;
                        document.getElementById("modalSubCategory").textContent = subCategory;
                        document.getElementById("modalTexture").textContent = texture;
                        document.getElementById("modalSize").textContent = size;
                        document.getElementById("modalThickness").textContent = thickness;
                        document.getElementById("modalWidth").textContent = width;
                    });
                });


            </script>

</body>

</html>